.CommentContainer {
    padding: auto;
    width: 80%;
}

.CommentContainer .comments {
    height: 700px;
    overflow: auto;
    margin-top: 2em;
    padding: 0em 2em 0em 2em;
    text-align: left;
    

    
}
.CommentContainer .comments::-webkit-scrollbar{
    width:0.5em;
}

.CommentContainer .comments::-webkit-scrollbar-thumb{
    background: DarkSlateGrey;
    border-radius: 100vw;
}

.CommentContainer .comment {
    margin-top: 1em;
    padding: 0.5em;
    border-color: brown;
    border-radius: 1em;
    border-style: solid;
}
.CommentContainer .comment .title .info .pic {
    object-position: right top;
    vertical-align: top;
}

.CommentContainer .content {
    margin-top: 0.5em;
    text-align: left;
    word-break: keep-all;
    word-spacing: 4px;
    white-space: break-spaces;
}