.ReviewContainer {
    margin-left: 3em;
    margin-top: 3em;
    width: 70%;
    height:100%;
    padding: 0.5em;
    border-color: brown;
    border-radius: 1em;
    border-style: solid;
    overflow:auto;
}

.ReviewContainer::-webkit-scrollbar{
    width:0em;
}

.ReviewContainer::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 100vw;
}

.ReviewContainer .backToComment{
    height:2em;
    align-self:end;
    margin-left: auto;
    background:SeaShell;
    border:1px solid brown;
}

.ReviewContainer .backToComment:hover{
    cursor: pointer;
}

.ReviewContainer .text{
    margin:3em;
    display:block;
    text-align: start;
    word-break: break-all;
    word-spacing: 6px;
    white-space: pre-wrap;
    user-select: text;
}