.Wrapper {
    display: flex;
    flex-direction: column;
}

.Wrapper .Background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("https://i.ibb.co/4Zcgtsj/backgroud.png");
    background-size: cover;
}

.Wrapper .Background .LeftSide {
    position: absolute;
    top: 0px;
    bottom: 2rem;
    left: 0vw;
    display: flex;
    flex-flow: column;
    z-index: 10;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.Wrapper .Background .LeftSide .LeftImg {
    height:20%;
    opacity:80%
}

.Wrapper .Background .RightSide {
    position: absolute;
    top: 50px;
    bottom: 2rem;
    right: 3vw;
    display: flex;
    flex-flow: column;
    z-index: 10;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
}

.Wrapper .Background .RightSide::-webkit-scrollbar{
    width:0.5em;
}

.Wrapper .Background .RightSide::-webkit-scrollbar-thumb{
    background: DarkSlateGrey;
    border-radius: 100vw;
}

.Wrapper .Background .RightSide .div:hover {
    cursor: pointer;
}